.icon{
    position: absolute;
    left: 180px;
    top: 4950px;
}
.icon p{
    position: relative;
    left: 300px;
    font-size: 23px;
    font-weight: bold;
    color: red;
}
.icons {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

