.footer-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: 100px;
  position: relative;
}
.grid-item{
  padding: 20px;
  background-color:#0A1222;
}
.grid-item:first-child{
  border-right: 0.1px solid white;
}
.grid-item:last-child{
  border-left: 0.1px solid white;
}
.flex{
  display: flex;
}
.flex p{
  color: white;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
.flex img{
  width: 35px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
