.footer-container{
    width: 100%;
    height: 100px;
    background-color: #0A1222;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2px;
}
.footer-container .grid-item:first-child{
    border-right: 2px solid white;
}
.footer-container .grid-item:last-child{
    border-left: 2px solid white;

}
.grid-item .flex{
    margin-left: 30px;
    color: white;
}
.flex p{
    margin-top: 30px;
    margin-left: 20px;
    /* color: wheat; */
    font-weight: bold;
}
.flex img{
    height: 30px;
    width: 30px;
}

  