.services-container {
    background-color:#F1F4FB;
    width: 100%;
    height: 800px;
    /* overflow: hidden; */
  }
.section-title{
    margin-left: 40px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: red;
}
.services-title{
    margin-left: 35px;
    font-size: 50px;
    color: #2E3D67;
}
.services-description{
    font-size: 20px;
    margin-left: 38px;
}
 .services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    /* scroll-behavior: smooth; */
  }
  .prev-btn,.next-btn{
    border: none;
    width: 40px;
    padding: 10px;
    background-color: red;
  }
   .next-btn{
    margin-left: 1180px;
    position: relative;
    top: 270px;
  }
  .prev-btn{
    position: relative;
    top: 270px;
  } 
  
  .service-box {
    color: pink;
    /* border: 2px solid black; */
    height: 300px;
    width: 350px;
    position: relative;
    border-radius: 10px;
    left: 10px;
    top: 50px;
    background-color: white;
    /* transition: background-position 0.5s ease; */
  }
  .service-box h2{
    margin-top: 30px;
  }
  .service-box img{
    width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-top: 190px;
  }
  .service-img{
    position:absolute;
    width: 300px;
    height: 200px;
    /* margin-left: 20px; */
    /* margin-top: 190px; */
    /* object-fit: cover; */
    /* border: 2px solid black ; */
    margin-left: 17px;
    margin-top: -206px;
    background-color: rgba(0, 0.8,0, 0.5);
    
  }
  
  /* .service-image {
    position: absolute;
    top: 200px;
    width: 330px;
    left: 10px;
  } */
  /* .service-img{
    width: 300px;
    height: auto;
    position: relative;
  }

  .service-img img{
    width: 300px;
    height: auto;
    margin-top: 200px;
    margin-left: 25px;
  } */
  /* Box Animation */

  





  /* .service-box:hover{
    animation-name: Box1;
    animation-duration: 1s;
    background-color: rgba(150, 0, 0, 0.8);
  }
  @keyframes Box1 {
    from{
      height: 0%;
    }
    to{
      height: 300px;
    }
  } */
  

  /* .service-img:hover{
    animation-name: Box2;
    animation-duration: 1s;
    color: yellow;
  }

  @keyframes Box2 {
    from{
      width: 0px;
    }
    to{
      width: 300px;
    }
    
  } */
  .service-box:hover{
    animation-name: Box1;
    animation-duration: 1s;
    background-color: #2E3D67;
    .service-img{
      animation-name: Box2;
      animation-duration: 1s;
      background-color: rgba(0, 0.8,0, 0.5);
    }
  }
  @keyframes Box1 {
    from{
      height: 0px;

    }
    to{
      height: 300px;

    }
    
  }
@keyframes Box2 {
  from{
    width: 0px;
  }
  to{
    width: 300px;
  }
  
}






  

   